<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    {% load dajaxice_templatetags %}
    {% load postman_tags %}
    {% load disqus_tags %}
    {% disqus_dev %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - PES</title>

    <style type="text/css">
      input.nav-search {
        width: 600px;
      }

      #search-dropdown {
        width: 600px;
        padding: 5px;
      }

    </style>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/dist/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/college/home/">P.E.S</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="/college/home/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/college/reportlist/"><i class="fa fa-bar-chart-o"></i> Reports </a></li>
            <li><a href="/college/{% if student %}student{% else %}teacher{% endif %}/projectlist"><i class="fa fa-table"></i> Projects </a></li>
            <li><a href="forms.html"><i class="fa fa-edit"></i> Evaluations </a></li>
          </ul>

          <form class="navbar-form navbar-left" role="search" method="post">
            {% csrf_token %}
            <div class="form-group">
              <div class="dropdown">
              <input type="text" class="form-control nav-search dropdown-toggle" data-toggle="dropdown" placeholder="Search for projects">
              <ul id = "search-dropdown" class="dropdown-menu">
              </ul>
              </div>
            </div>
          </form>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li>
              {% postman_unread as unread_count %}
              <a href="/college/messages/"><i class="fa fa-envelope"></i> Messages {% if unread_count %}<span class="badge">{{ unread_count }}</span> {% endif %} </a>
            </li>

            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ name }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a {% if student %} href="{{ student.s_id }}" {% else %} href="{{ teacher.t_id }}" {% endif %}><i class="fa fa-user"></i> Profile</a></li>
                <li class="divider"></li>
                <li><a href="/college/logout/"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      {% block content %}

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Dashboard <small>Statistics Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
          </div>
        </div><!-- /.row -->

        <!--<div class="row">
          <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading"></p>
                    <p class="announcement-text">Discussions</p>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <div class="col-lg-6">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-check fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">{{ fincount }}</p>
                    <p class="announcement-text">Finished projects</p>
                  </div>
                </div>
              </div>
              <a href="/college/{% if student %}student{% else %}teacher{% endif %}/projectlist/">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View projects
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-tasks fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">{{ ongcount }}</p>
                    <p class="announcement-text">Ongoing projects</p>
                  </div>
                </div>
              </div>
              <a href="/college/{% if student %}student{% else %}teacher{% endif %}/projectlist/">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View projects
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        <!--  <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">56</p>
                    <p class="announcement-text">New Orders!</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Complete Orders
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div> -->
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Latest project: Statistics </h3>
              </div>
              <div class="panel-body">
                <div id="morris-chart-area"></div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

        <!--<div class="row">
          {% for e in evals %}
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Evaluation breakdown - {{ e.timestamp.date }}</h3>
              </div>
              <div class="panel-body">
                <div id="morris-chart-donut-{{ e.id }}"></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>-->

        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Latest projects </h3>
              </div>
              <div class="panel-body">
                <b>Recent projects that you have been working on</b>
              </div>
              <ul class="list-group">
                {% for project in projects %}
                <li class="list-group-item">
                  {{ project.name }} ({{ project.progress }}%)
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      <span class="sr-only">{{ project.progress }}% Complete</span>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Your recent activity </h3>
              </div>
              <div class="panel-body">
                {% disqus_recent_comments techmonk 5 50 0 24 %}
              </div>
            </div>
          </div>
        </div>
      </div><!-- /#page-wrapper -->
      {% endblock %}

    </div><!-- /#wrapper -->

    {% block javascript %}

    <!-- JavaScript -->
    <script src="/dist/js/jquery-1.10.2.js"></script>
    <script src="/dist/js/bootstrap.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="/dist/js/holder.js"></script>

    {% dajaxice_js_import %}
    <script type="text/javascript">

      // Makes ajax requests every time a space bar is pressed in search box.
      $(document).on('keypress', '.nav-search', function(e) {
        console.log("key pressed");
        var code = e.which || e.keyCode;
        if(code == 32) {
          Dajaxice.college.get_projects(my_js_callback, {'textarea':$(".nav-search").val()});
        }

      });

      function my_js_callback(data){
          $("#search-dropdown").html("")
          $.each(data.result, function(index, value){
            var url = '/college/projects/' + value.id;
            $("#search-dropdown").append(
              $("<li>").append(
                $("<p>").append(
                  $("<b>").append(
                    $("<a>").attr('href', url).append(value.name))))
              .append($("<p>").append(value.details))
            .append($("<li class='divider'>")))

          })
      }

      // Updates ajax data into the modal.
      $('#studentModal').on('show.bs.modal', function(e) {
        data = e.relatedTarget.dataset;
        Dajaxice.college.get_members(populate_callback, {'id': data.id,
                                                         'type': e.relatedTarget.id });
      })

      // Removes data from the modal on hide.
      $('#studentModal').on('hide.bs.modal', function(e) {
        $('.populate').html("")
      })

      // Populates data from ajax request.
      function populate_callback(data) {
        $.each(data.result, function(index, value){
          console.log(index, value.name);
          $('.populate').append($('<div>').html(value.name))
        })
      }
    </script>


    {% endblock %}

    <!-- Page Specific Plugins -->
    {%  block page_specific %}


    <script src="/dist/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="/dist/js/tablesorter/tables.js"></script>



    {% if evals %}
    <script type="text/javascript">

      Morris.Area({
        // ID of the element in which to draw the chart.
        element: 'morris-chart-area',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [

          {% for e in evals %}
            {d: '{{ e.timestamp.date.isoformat }}', scores: {{ e.score }} },
          {% endfor %}

        ],
        // The name of the data record attribute that contains x-visitss.
        xkey: 'd',
        // A list of names of data record attributes that contain y-visitss.
        ykeys: ['scores'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Score'],
        // Disables line smoothing
        smooth: false,
      });

      {% for e in evals %}
      /*Morris.Donut({
        element: 'morris-chart-donut-{{ e.id }}',
        data: [

          {label: "Submission", value: {{ e.submission }}},
          {label: "Quality", value: {{ e.quality }}},
          {label: "Research", value: {{ e.research }}},
          {label: "Presentation", value: {{ e.presentation }}},
          {label: "Output", value: {{ e.output }}}
        ],
        formatter: function (y) { return y + "%" ;}
      });*/
      {% endfor %}

    </script>
    {% else %}
      <div> Evaluation pending </div>
    {% endif %}
    {% endblock %}

  </body>
</html>
