<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    {% load dajaxice_templatetags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <style type="text/css">
      input.nav-search {
        width: 800px;
      }

      #search-dropdown {
        width: 800px;
      }

    </style>

    <title>Signin Template for Bootstrap</title>



    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">




    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a data-toggle="modal" href="#myModal">Messages</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search" method="post">
            {% csrf_token %}
            <div class="form-group">
              <li class="dropdown">
              <input type="text" class="form-control nav-search dropdown-toggle" data-toggle="dropdown" placeholder="Search for projects">
              <ul id = "search-dropdown" class="dropdown-menu">
              </ul>
              </li>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="/college/logout/">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    {% if student %}

    <div>Student profile - {{ name }}</div>

    {% endif %}

    {% if teacher %}

    <div>Teacher profile - {{ name }}</div>

    {% endif %}

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    {% dajaxice_js_import %}
    <script type="text/javascript">

      $(document).on('keypress', '.nav-search', function(e) {
        console.log("key pressed");
        var code = e.which || e.keyCode;
        if(code == 32) {
          Dajaxice.college.get_projects(my_js_callback, {'textarea':$(".nav-search").val()});
        }

      });

      function my_js_callback(data){
          $("#search-dropdown").html("")
          $.each(data.result, function(index, value){
            $("#search-dropdown").append(
              $("<li>").append(
                $("<p>").append(
                  $("<b>").append(value.name)))
              .append($("<p>").append(value.details))
            .append($("<li class='divider'>")))

          })
      }

    </script>


  </body>
</html>