<!DOCTYPE html>
<html lang="en">
<head>
<title>Progress Evaluation System</title>
<meta charset="utf-8">
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<link rel="stylesheet" href="/dist/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/dist/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="/dist/js/front/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="/dist/js/front/cufon-yui.js"></script>
<script type="text/javascript" src="/dist/js/front/cufon-replace.js"></script>
<script type="text/javascript" src="/dist/js/front/Myriad_Pro_300.font.js"></script>
<script type="text/javascript" src="/dist/js/front/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="/dist/js/front/script.js"></script>
<!--[if lt IE 7]>
     <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
     <script type="text/javascript" src="js/ie_png.js"></script>
     <script type="text/javascript">
        ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');
     </script>
<![endif]-->
<!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->
</head>
<body id="page1">
<div class="wrap">
   <!-- header -->
   <header>
      <div class="container">
		<h1><a href="index.html">Progress Evaluation system</a></h1>
         <nav>
            <ul>
               <li><a href="/college/" class="m1">Home Page</a></li>
               <li><a href="/college/about/" class="m2">About Us</a></li>
               <li class="current"><a href="/college/faq/" class="m3">FAQs</a></li>
               <li><a href="/college/contact" class="m4">Contact Us</a></li>
               <li class="last"><a href="/college/manual/" class="m5">User Manual</a></li>
            </ul>
         </nav>
		 
       <form action="" id="search-form">
            <fieldset>
            <div class="rowElem">
               <a href="/college/login/" onClick="document.getElementById('search-form').submit()"><font font size="80";>Login</font></a></div>
            </fieldset>
         </form>
         </form>
      </div>
   </header>
   
   <div class="container">
      <!-- aside -->
      <aside>
         <h3>Features</h3>
         <ul class="categories">
		 <font>
            <li><span>Student Info<span></li>
            <li><span>Project Submission</span></li>
            <li><span>Project Members</span></li>
            <li><span>Project Submission</span></li>
            <li><span>Evaluation</span></li>
            <li><span>Report Generation</span></li>
            <li><span>Search</span></li>
            <li class="last"><span>Message</span></li>
		</font>
         </ul>

         
      </aside>
      <!-- content -->
      <section id="content">
         <div class="inside">
            <h2>Your progress<span>our evaluation</span></h2>
            <p><span class="txt1">Progress Evaluation System</span> is an evaluation website which has 3 primary functionality.It helps you submit progress, evaluate it and generate report for the same.</p>
            <div class="img-box"><h3>Q.What does PES mean?</h3>
<p>A.It stands for progress evaluation system.</p>
<h3>Q.Who all can login to this website?</h3>
<p>A.Teachers and students can login by using there USN as User-ID and password.</p>
<h3>Q.The website fails to load.What should I do?</h3>
<p>A.There might be bandwidth outage .Wait for sometime and try to login again.</p>
<h3>Q.I want to search for a particular project, Will I be able to do that?  </h3>
<p>A.yes! We have a search box on dashboard,you can search for the projects and related information.</p>
<h3>Q.Which browser/computer equipment do I need?</h3>
<p>A.You will need a reasonably reliable Internet connection to access. All modern computers should work fine on our platform, although we recommend at least 1 GB of memory/RAM. We support the following web browsers:chrome,Firefox.</p>
<h3>Q.How can I keep track of deadlines?</h3>
<p>A.To help you remember when the deadlines are, we have messaging feature which will help teacher to send you a reminder of projects deadline.</p>
<h3>Q.Can I see guide name for the projects?</h3>
<p>A.yes,you can see the guide name of each project.</p></p>
         </div>
      </section>
   </div>
</div>
<!-- footer -->
<footer>
   <div class="container">
      <div class="inside">
         <div class="wrapper">
            <div class="aligncenter">Email us for queries:<br>tech_lucia@gmail.com
               </div>
         </div>
      </div>
   </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>