<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load dajaxice_templatetags %}
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">P.E.S</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/college/login/">Sign in</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Progress Evaluation System</h1>
        <p>Track the progress of your employees regularly. Make work more efficient by using various metrics to evaluate the work done by your employees! Try out! </p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2>Comprehensive and transparent evaluation</h2>
          <img src="/dist/evaluation.png" class="img-rounded">
          <p>PES boasts of it's comprehensive and transparent evaluation system. It generates points for each evaluation and plots in a graph viewable by both students/teachers. It offers a simplistic way of tracking progress on a project. </p>
          <p><a class="btn btn-default" href="/college/login/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-8">
          <h2>Instant search for projects</h2>
          <img src="/dist/search.png" class="img-rounded">
          <p>It's really important to have conducive environment for a project. Intellectually stimulating projects right at the fingertips of users is something that we would like to boast about. We provide instant project details with our search system.</p>
          <p><a class="btn btn-default" href="/college/login/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-8">
          <h2>Messaging system</h2>
          <img src="/dist/messages.png" class="img-rounded" width="1024px;">
          <p>Our internal messaging system help users to communicate about each other's projects without leaving the site. We provide a full fledged messaging platform.</p>
          <p><a class="btn btn-default" href="/college/login/" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
