<!DOCTYPE html>
<html lang="en">
<head>
<title>Progress Evaluation System</title>
<meta charset="utf-8">
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<link rel="stylesheet" href="/dist/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/dist/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="/dist/js/front/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="/dist/js/front/cufon-yui.js"></script>
<script type="text/javascript" src="/dist/js/front/cufon-replace.js"></script>
<script type="text/javascript" src="/dist/js/front/Myriad_Pro_300.font.js"></script>
<script type="text/javascript" src="/dist/js/front/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="/dist/js/front/script.js"></script>
<!--[if lt IE 7]>
     <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
     <script type="text/javascript" src="js/ie_png.js"></script>
     <script type="text/javascript">
        ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');
     </script>
<![endif]-->
<!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->
</head>
<body id="page1">
<div class="wrap">
   <!-- header -->
   <header>
      <div class="container">
		<h1><a href="index.html">Progress Evaluation system</a></h1>
         <nav>
            <ul>
               <li class="current"><a href="index.html" class="m1">Home Page</a></li>
               <li><a href="/college/about/" class="m2">About Us</a></li>
               <li><a href="/college/faq/" class="m3">FAQs</a></li>
               <li><a href="/college/contact/" class="m4">Contact Us</a></li>
               <li class="last"><a href="/college/manual/" class="m5">User Manual</a></li>
            </ul>
         </nav>
		 
       <form action="" id="search-form">
            <fieldset>
            <div class="rowElem">
               <a href="/college/login/" onClick="document.getElementById('search-form').submit()"><font font size="80";>Login</font></a></div>
            </fieldset>
         </form>
         </form>
      </div>
   </header>
   
   <div class="container">
      <!-- aside -->
      <aside>
         <h3>Features</h3>
         <ul class="categories">
		 <font>
            <li><span>Student Info<span></li>
            <li><span>Project Submission</span></li>
            <li><span>Project Members</span></li>
            <li><span>Project Submission</span></li>
            <li><span>Evaluation</span></li>
            <li><span>Report Generation</span></li>
            <li><span>Search</span></li>
            <li class="last"><span>Message</span></li>
		</font>
         </ul>

         
      </aside>
      <!-- content -->
      <section id="content">
         <div id="banner">
            <h2>Progress <span>Evaluation System <span>For college and workplace </span></span></h2>
         </div><div class="ic">More Website Templates at TemplateMonster.com!</div>
         <div class="inside">
            <h2>Your progress<span>our evaluation</span></h2>
            <p><span class="txt1">Progress Evaluation System</span> is an evaluation website which has 3 primary functionality.It helps you submit progress, evaluate it and generate report for the same.</p>
            <div class="img-box"><img src="/dist/images/1page-img.jpg">This website template can be delivered in two packages - one for educational institutions and other for commercial companies.This not only generalises the data given and generated but also gives a professional feel and administration to the site.</div>
            <p class="p0">This website has various features like Student Info , Project Submission , Project Members , Project Submission , Evaluation , Report Generation , Search , Message.</p>
         </div>
      </section>
   </div>
</div>
<!-- footer -->
<footer>
   <div class="container">
      <div class="inside">
         <div class="wrapper">
            <div class="aligncenter">Email us for queries:<br>tech_lucia@gmail.com
               </div>
         </div>
      </div>
   </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>