<html lang="en">
  <head>
    {% load staticfiles %}
    {% load dajaxice_templatetags %}
    {% load postman_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - PES</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/dist/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  </head>

<body>
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h5 class="text-center">
                          SIGN IN</h5>
                      <form class="form form-signup" role="form" action="/college/login/" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                              <input type="text" name="userid" class="form-control" placeholder="USN No" />
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                              <input type="password" name="password" class="form-control" placeholder="Password" />
                          </div>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary btn-block" role="button">
                      SUBMIT</button> </form>
              </div>
          </div>
      </div>
  </div>
  </div> 

  <script src="/dist/js/jquery-1.10.2.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
</body>
</html>

