<!DOCTYPE html>
<html lang="en">
<head>
<title>Progress Evaluation System</title>
<meta charset="utf-8">
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<link rel="stylesheet" href="/dist/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/dist/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="/dist/js/front/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="/dist/js/front/cufon-yui.js"></script>
<script type="text/javascript" src="/dist/js/front/cufon-replace.js"></script>
<script type="text/javascript" src="/dist/js/front/Myriad_Pro_300.font.js"></script>
<script type="text/javascript" src="/dist/js/front/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="/dist/js/front/script.js"></script>
<!--[if lt IE 7]>
     <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
     <script type="text/javascript" src="js/ie_png.js"></script>
     <script type="text/javascript">
        ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');
     </script>
<![endif]-->
<!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->
</head>
<body id="page1">
<div class="wrap">
   <!-- header -->
   <header>
      <div class="container">
		<h1><a href="index.html">Progress Evaluation system</a></h1>
         <nav>
            <ul>
               <li><a href="/college/" class="m1">Home Page</a></li>
               <li><a href="/college/about/" class="m2">About Us</a></li>
               <li><a href="/college/faq/" class="m3">FAQs</a></li>
               <li><a href="/college/contact/" class="m4">Contact Us</a></li>
               <li class="last" class="current"><a href="/college/manual/" class="m5">User Manual</a></li>
            </ul>
         </nav>
		 
       <form action="" id="search-form">
            <fieldset>
            <div class="rowElem">
               <a href="/college/login/" onClick="document.getElementById('search-form').submit()"><font font size="80";>Login</font></a></div>
            </fieldset>
         </form>
         </form>
      </div>
   </header>
   
   <div class="container">
      <!-- aside -->
      <aside>
         <h3>Features</h3>
         <ul class="categories">
		 <font>
            <li><span>Student Info<span></li>
            <li><span>Project Submission</span></li>
            <li><span>Project Members</span></li>
            <li><span>Project Submission</span></li>
            <li><span>Evaluation</span></li>
            <li><span>Report Generation</span></li>
            <li><span>Search</span></li>
            <li class="last"><span>Message</span></li>
		</font>
         </ul>
       
         
      </aside>
      <!-- content -->
      <section id="content">
         <div class="inside">
            <h2>Your progress<span>our evaluation</span></h2>
            <p><span class="txt1">Progress Evaluation System</span> is an evaluation website which has 3 primary functionality.It helps you submit progress, evaluate it and generate report for the same.</p>
            <div ><h4 align="left">&nbsp 1. PES page has a home page which has a link to the login page in the top right of the page.</h4>
				<h4 align="left">&nbsp 2. And in the home page you can see the list of ongoing projects and progress of those projects.</h4>
				<h4 align="left">&nbsp 3. Again in the user there are three category,<ol><li><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1. Admin </li><li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2. Lecturer </li><li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3. Student</li> </ol> 
				</h4>
				<h4 align="left">&nbsp 4. In the login page user can enter their respective id and the password and login to their respective 					pages. 
				</h4>
				<h4 align="left">&nbsp 5. Admin can add the users, assign the projects to the students, and delete the users.</h4>
				<h4 align="left">&nbsp 6. Student can upload the project, search for the projects, send message to the lecturers.</h4>
				<h4 align="left">&nbsp 7. Lecturer can evaluate the project, search for the projects, send message to the students, and comment 				on the projects.
				</h4> 
				<h4 align="left">&nbsp 8. After session is over all user can logout the session.</h4>
				</p>
         </div>
      </section>
   </div>
</div>
<!-- footer -->
<footer>
   <div class="container">
      <div class="inside">
         <div class="wrapper">
            <div class="aligncenter">Email us for queries:<br>tech_lucia@gmail.com
               </div>
         </div>
      </div>
   </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>