{% extends "dashboard.html" %}

{% block content %}

<center>
<div class="media container">
	<a href="#">
	  <img class="img-circle media-object" src="holder.js/128x128" alt="..."><br>
	</a>
  <div class="media-body">
    <h4 class="media-heading">{{ profile.first_name }}'s profile</h4>
    <b>Full name :</b> {{ profile.first_name }} {{ profile.last_name }}<br>
    <b>Email ID :</b> {{ profile.email }}<br>
    <b>Projects I'm working on: </b><br>
    {% for project in projects %} 
    <a href="/college/projects/{{ project.p_id }}">{{ project.name }}<br></a>
    {% endfor %}
  </div>
</div>
</center>
{% endblock %}