{% extends "dashboard.html" %}

{% load disqus_tags %}
{% disqus_dev %}
<title> Projects </title>
{% block content %}

<div class="container">
<h2 class="text-center">{{ project.name }}</h2>
<hr>

<h3>Project evaluation summary </h3>
<hr/>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> {{ project.name }} </h3>
      </div>
      <div class="panel-body">
        <div id="morris-chart-area"></div>
      </div>
    </div>
  </div>
</div><!-- /.row -->

<h3>Evaluations breakdown </h3>
<hr/>

<div class="row">
          {% for e in evals %}
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Date of eval - {{ e.timestamp.date }}</h3>
              </div>
              <div class="panel-body">
                <div id="morris-chart-donut-{{ e.id }}"></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div><!-- /.row -->
</div>

<div class="container" style="width: 800px;">
  {% set_disqus_identifier "pid_" project.p_id %}
  {% disqus_show_comments %}

</div>
{% endblock %}

{% block javascript %}

{{ block.super }}

{% if evals %}
    <script type="text/javascript">

      Morris.Area({
        // ID of the element in which to draw the chart.
        element: 'morris-chart-area',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [

          {% for e in evals %}
            {d: '{{ e.timestamp.date.isoformat }}', scores: {{ e.score }} },
          {% endfor %}

        ],
        // The name of the data record attribute that contains x-visitss.
        xkey: 'd',
        // A list of names of data record attributes that contain y-visitss.
        ykeys: ['scores'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Score'],
        // Disables line smoothing
        smooth: false,
      });

      {% for e in evals %}
      Morris.Donut({
        element: 'morris-chart-donut-{{ e.id }}',
        data: [

          {label: "Submission", value: {{ e.submission }}},
          {label: "Quality", value: {{ e.quality }}},
          {label: "Research", value: {{ e.research }}},
          {label: "Presentation", value: {{ e.presentation }}},
          {label: "Output", value: {{ e.output }}}
        ],
        formatter: function (y) { return y + "%" ;}
      });
      {% endfor %}

    </script>
    {% endif %}
{% endblock %}

{% block page_specific %}
{% endblock %}