{% extends "dashboard.html" %}

{% block content %}

<h3 class="text-center">{{ project.name }}</h3>

<form method="POST" action='/college/teacher/evaluate/{{ project.p_id }}/'>
{% csrf_token %}
On-Time submission: <input name="submission" type="number" min="1" max="100"><br>
Code quality: <input name="quality" type="number" min="1" max="100"><br>
Research done: <input name="research" type="number" min="1" max="100"><br>
Presentation: <input name="presentation" type="number" min="1" max="100"><br>
Output: <input name="output" type="number" min="1" max="100"><br>
Progress (In percentage): <input name="progress" type="number" min="1" max="100"><br>
<input type="submit">
</form>

{% endblock %}